<div class="">
<header>
  <div>The One Handed Chef</div>
</header>
  <nav class="">
    <ul>
      <li>HOME</li>
      <li>THE STRUGGLE</li>
      <li>EQUIPMENT</li>
      <li>TIPS & TRICKS</li>
      <li>EASY</li>
      <li>MEDIUM</li>
      <li>HARD</li>
    </ul>
  </nav>
  <%!-- main image/rotator  --%>
  
</div>
