<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:recipe_name]} type="text" label="Recipe name" />
  <.input field={f[:description]} type="text" label="Description" />
  <:actions>
    <.button>Save Recipe</.button>
  </:actions>
</.simple_form>
