<.header>
  New Recipe  ingredient
  <:subtitle>Use this form to manage recipe__ingredient records in your database.</:subtitle>
</.header>

<.recipe__ingredient_form changeset={@changeset} action={~p"/recipe_igredients"} />

<.back navigate={~p"/recipe_igredients"}>Back to recipe_igredients</.back>
